# --- Frontend ---
FRONT/
FRONT.rar
.agents
.atl

# --- Persistencia de Datos (Docker) ---
backend-db/postgres-data/
backend-db/postgres/
/backend-db/minio-data
/backend-db/redis-data
# --- Backend (NestJS & Node) ---
node_modules/
backend/node_modules/
backend/dist/

# --- Variables de Entorno ---
backend/.env
backend/postgres/.env

# --- Otros ---
*.log
.DS_Store

# --- Plantillas (no son código productivo) ---
open-api-facturacion-sri-main/package-lock.json

*.zip
CLAUDE

# -- codegraph -- 
.codegraph

# -- graphify -- 
.graphify

# -- vscode -- 
.vscode

# -- sonarlint -- 
.sonarlint

# -- env 
.env

# -- .gga
.gga
/.pi
/openspec
/backend/openspec
/.claude
/.junie
